'use client'

import { ColorModeProvider, RootChakraProvider } from '@letar/chakra-provider'
import type { ReactNode } from 'react'

export function Providers({ children }: { children: ReactNode }) {
  return (
    <RootChakraProvider>
      <ColorModeProvider>{children}</ColorModeProvider>
    </RootChakraProvider>
  )
}
