{
  "name": "@letar/<%= name %>",
  "version": "0.1.0",
  "private": true,
  "description": "<%= description %>",
  "author": "Kami Letar",
  "main": "app/background.js",
  "nx": {
    "name": "<%= name %>",
    "implicitDependencies": ["@letar/forms", "@letar/icon-generator"]
  },
  "dependencies": {
    "@letar/icon-generator": "workspace:*"
  },
  "devDependencies": {
    "electron": "<%= electronVersion %>",
    "electron-builder": "<%= electronBuilderVersion %>"
  }
}
