import { describe, expect, it } from 'vitest'
import { feature } from './feature'

describe('feature', () => {
  it('возвращает имя библиотеки', () => {
    expect(feature()).toBe('<%= name %>')
  })
})
