{
  "extends": "../../tsconfig.next-app.json",
  "compilerOptions": {
    "paths": {
      "@/*": ["./src/*"],
      "@letar/chakra-provider": ["../../libs/chakra-provider/src/index.ts"],
      "@letar/ui": ["../../libs/ui/src/index.ts"],
      "@letar/analytics": ["../../libs/analytics/src/index.ts"]
    }
  },
  "references": [
    {
      "path": "../../libs/ui"
    },
    {
      "path": "../../libs/analytics"
    },
    {
      "path": "../../libs/chakra-provider"
    }
  ]
}
